extends layout

block content
  h1 Create Your Card Here
  form(method="POST" action="/card")
    label(for="firstName") First:
    input(type="text" name="firstName" id="firstName" value="John")
    br
    label(for="lastName") Last:
    input(type="text" name="lastName" id="lastName" value="Doe")
    br
    label(for="type") Type
    select(name="type" id="type")
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium
    br
    label(for="dateOfBirth") DOB
    input(type="date" name="dateOfBirth" id="dateOfBirth" value="1992-03-04")
    br
    label(for="addressLine1") Address Line 1:
    input(type="text" name="addressLine1" id="addressLine1" value="9999 W House Ave")
    br
    label(for="addressLine2") Address Line 2:
    input(type="text" name="addressLine1" id="addressLine2" value="8888 N Magma ST")
    br
    label(for="city") City:
    input(type="text" name="city" id="city" value="San Indigo")
    br
    label(for="state") State:
    select(name="state" id="state" value="Illinois")
      option(value = "CA") CA
      option(value = "NV") NV
      option(value = "WA") WA
    br
    label(for="zip") Zip Code:
    input(type="text" name="zip" id="zip" value="66556")
    br
    label(for="dateStart") Start Date
    input(type="date" name="dateStart" id="dateStart" value="2010-04-03")
    br
    button(type="submit" action="post") Create My Card
